.fb-auth-area {
  background-color: var(--fb-bg-gray);
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;

  .fb-auth-container {
    width: 977px;
    display: flex;
    justify-content: space-between;
    // margin-top: -40px;

    .fb-auth-left {
      margin-top: 20px;
      img {
        width: 300px;
        transform: translate(-27px, 10px);
      }
      h2 {
        width: 80%;
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;
      }
    }

    .fb-auth-right {
      .fb-auth-box {
        width: 395px;
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: var(--fb-shadow);
        text-align: center;

        form {
          display: flex;
          flex-direction: column;
          gap: 10px;

          input {
            font-size: 17px;
            padding: 14px 16px;
            border-radius: 6px;
            border: var(--fb-border);
          }

          .login-btn {
            font-size: 20px;
            padding: 0px 16px;
            line-height: 48px;
            border-radius: 6px;
            border: var(--fb-border);
            color: #fff;
            background-color: var(--fb-primary-color);
            font-weight: 500;
          }
        }

        a {
          font-size: 14px;
          //   font-weight: 500;
          display: block;
          margin: 15px 0;
          color: var(--fb-primary-color);

          &:hover {
            text-decoration: underline;
          }
        }
        .divider {
          border-top: var(--fb-border);
          margin: 20px 0;
        }

        .create-new-btn {
          font-size: 17px;
          padding: 10px 16px;
          border-radius: 6px;
          border: none;
          color: #fff;
          background-color: var(--fb-secondary-color);
          margin: 10px 0;
          border: none;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background-color: #36a420;
          }
        }
      }

      .fb-auth-desc {
        text-align: center;
        font-size: 14px;
        margin: 25px 0;

        a {
          font-weight: 600;
          color: #000;
        }
      }
    }
  }
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .h-form {
    display: flex;
    gap: 10px;
  }

  p {
    font-size: 11px;
    color: #777;
  }

  //css for sign up btn
  button {
    cursor: pointer;
    padding: 7px 10px;
    background-color: var(--fb-secondary-color);
    border: none;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    width: 200px;
    margin: auto;

    &:hover {
      background-color: #36a420;
    }
  }

  input {
    width: 100%;
    padding: 9px 11px;
    font-size: 14px;
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
  }

  .reg-extra {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .reg-extra-title {
      font-size: 11px;
      color: #606770;
      display: flex;
      align-items: center;
      gap: 7px;

      svg {
        cursor: pointer;
      }
    }

    .reg-extra-opt {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      select {
        flex: 1;
        padding: 5px;
        border: var(--fb-border);
        border-radius: 4px;
        font-size: 15px;
      }

      label {
        display: flex;
        padding: 4px;
        border: var(--fb-border);
        border-radius: 4px;
        flex: 1;
        justify-content: space-between;
        align-items: center;

        span {
          font-size: 15px;
        }

        input[type="radio"] {
          // display: table;
          width: 20px;
        }
      }
    }
  }
}
