:root {
  --fb-primary-color: #1877f2;
  --fb-primary-color: #42b72a;
  --fb-shadow: 0 2px 4px rgba(0, 0, 0, 0.01), 0 8px 16px rgba(0, 0, 0, 0.01);
  --fb-bg-gray: #f0f2f5;
  --fb-border: 1px solid #dddfe2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}
img {
  max-width: 100%;
}

input:focus {
  outline: none;
}
